/**
* ===========================================================
* ABOUT desktop
* ===========================================================
*/
.about-wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}

.about {
  margin: 0 auto;
  margin-bottom: 110px;
  position: relative;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.about-header {
  margin: 0;
  margin: 30px 0 4px 555px;
  color: #666666;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 50.63px;
}

.about__container {
  width: 984px;
  margin-left: 552px;
  position: relative;
}

.about__container::before {
  content: "";
  position: absolute;
  top: -45px;
  left: -175px;
  width: 116px;
  height: 305px;
  background-image: url("../img/image-2005.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  z-index: 100;
}

.about-tip {
  margin: 0;
  margin-top: 18px;
  color: #666666;
  font-family: 'PT Mono', monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.5px;
}

.about-btn {
  margin-top: 39px;
  display: inline-block;
  padding: 10px 54px 11px 49px;
  color: #00b2ff;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #00b2ff;

  &:hover {
    color: #ffffff;
  }

  &:active {
    color: #ffffff;
  }
}

/**
* ===========================================================
* ABOUT tablet
 * ===========================================================
*/
@media (max-width: $tablet-width) {
  .about {
      width: $tablet-width;
  }
  .about-header {
    margin: 0;
    margin: 30px 0 5px 340px;
    font-size: 32px;
font-weight: 400;
line-height: 45px;
  }

  .about__container {
    width: 532px;
    margin-left: 200px;
    position: relative;
  }

  .about__container::before {
    content: "";
    position: absolute;
    top: -45px;
    left: -175px;
    width: 132px;
    height: 348px;
    background-image: url("../img/image-2005.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    z-index: 100;
  }

  .about-tip {
    margin: 0;
    margin-top: 18px;
  }

  .about-btn {
    margin-top: 38px;
    display: inline-block;
    padding: 10px 50px 11px 49px;
    color: #00b2ff;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #00b2ff;

    &:hover {
      color: #ffffff;
    }

    &:active {
      color: #ffffff;
    }
  }
}

/**
 * ===========================================================
* ABOUT mobile
* ===========================================================
*/
@media (max-width: $mobile-width) {}
