/**
* ===========================================================
* ABOUT desktop
* ===========================================================
*/

@media (min-width: $desktop-max-width) {
  .about {
    width: 1024px;

    margin: 0 auto;
  }
}

/**
* ===========================================================
* ABOUT tablet
 * ===========================================================
*/

@media (min-width: $tablet-max-width) {
  .about {
    width: $tablet-max-width;

    margin: 0 auto;
  }
}


/**
 * ===========================================================
* ABOUT mobile
* ===========================================================
*/
.about {
  width: 320px;
  margin: 0 auto;
  padding: 0;
}