/**
* ===========================================================
* ABOUT desktop
* ===========================================================
*/

.about {
  width: 1024px;

  margin: 0 auto;
}


/**
* ===========================================================
* ABOUT tablet
 * ===========================================================
*/

@media (min-width: $tablet-max-width) {
  .about {
    width: $tablet-max-width;

    margin: 0 auto;
  }
}


/**
 * ===========================================================
* ABOUT mobile
* ===========================================================
*/
@media (min-width: $mobile-max-width) {
  .about {
    width: 320px;
    margin: 0 auto;
    padding: 0;
  }
}
