/**
* ===========================================================
* ADVANTAGES desktop
* ===========================================================
*/
.advantages-wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}

.advantages {
  display: flex;
  flex-direction: column;

  margin-bottom: 40px;
  color: #372a2a;
  padding: 112px 110px 48px 376px;
  background-color: #ffffff;
  margin: 0 auto;
}

.advantages__list {
  display: flex;

  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.advantages__list.advantages__item :nth-child(2n + 1) {
  margin-right: 20px;
}

.advantages__item {
  box-sizing: border-box;
  width: 570px;
  height: 299px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  position: relative;

  margin-left: 0px;
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 40px 42px 49px 44px;
  list-style: none;
  border: 1px solid #ebebeb;
  border-left: 2px solid #00b2ff;
}

.advantages__item :nth-child(2n + 2) p {
  margin-left: 7px;
}

.advantages__item:hover {
  background-color: #00b2ff;
  color: #ffffff;
}

.advantages__item-header {
  margin: 0;
  margin-top: 55px;
  color: #00b2ff;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 33.75px;
}

.advantages__item-header--deadlines::before {
  content: "";
  position: absolute;
  width: 29px;
  height: 35px;

  top: 39px;
  left: 42px;

  background-image: url("../img/icon-clock.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.advantages__item-header--suppliers::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;

  top: 41px;
    left: 42px;

  background-image: url("../img/icon-people.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.advantages__item-header--privacy::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 31px;

  top: 45px;
    left: 42px;

  background-image: url("../img/icon-hat.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.advantages__item-header--customization::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;

  top: 40px;
  left: 46px;

  background-image: url("../img/icon-dollar.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.advantages__item-content {
  color: #666666;
  font-family: 'PT Mono', monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.5px;
}

/**
* ===========================================================
* ADVANTAGES tablet
 * ===========================================================
*/
@media (max-width: $tablet-width) {
  .advantages {
    width: $tablet-width;
padding: 0 25px;
  }
  .advantages__list {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    margin: 0;
    padding: 0;
  }

  .advantages__item {
    box-sizing: border-box;
    width: 330px;
height: 306px;

    position: relative;

    margin-left: 0px;
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 20px 21px 34px 27px;
  }

  .advantages__item-header {
    margin: 0;
    margin-top: 55px;
    font-size: 24px;
    font-weight: 400;
    line-height: 33.75px;
  }

  .advantages__item-content {
    font-size: 16px;
font-weight: 400;
line-height: 22.5px;
  }
}

/**
 * ===========================================================
* ADVANTAGES mobile
* ===========================================================
*/
@media (max-width: $mobile-width) {}
