/**
* ===========================================================
* ADVANTAGES desktop
* ===========================================================
*/
.advantages-wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}

.advantages {
  display: flex;
  flex-direction: column;

  margin-bottom: 40px;
  color: #372a2a;
  padding: 112px 110px 48px 376px;
  background-color: #ffffff;
  margin: 0 auto;
}

.advantages__list {
  display: flex;

  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.advantages__list.advantages__item :nth-child(2n + 1) {
  margin-right: 20px;
}

.advantages__item {
  box-sizing: border-box;
  width: 570px;
  min-height: 299px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  position: relative;

  margin-left: 0px;
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 40px 42px 49px 44px;
  list-style: none;
  color: #666666;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  border-left: 2px solid #00b2ff;

  &:hover{
    background-color: #00b2ff;
  }
}

.advantages__item:hover >.advantages__item-header {
  color: #ffffff;
}
.advantages__item:hover >.advantages__item-content {
  color: #ffffff;
}

.advantages__item :nth-child(2n + 2) p {
  margin-left: 7px;
}

.advantages__item--deadlines svg{
  position: absolute;
    width: 29px;
    height: 35px;

    top: 39px;
    left: 42px;
    fill: #00b2ff;
}

.advantages__item--suppliers svg {
  position: absolute;
  width: 35px;
  height: 35px;

  top: 41px;
  left: 42px;
  fill: #00b2ff;
}

.advantages__item--privacy svg {
  position: absolute;
  width: 36px;
  height: 31px;

  top: 45px;
    left: 42px;
    fill: #00b2ff;
}

.advantages__item--customization svg {
  position: absolute;
  width: 35px;
  height: 35px;

  top: 40px;
  left: 46px;
  fill: #00b2ff;
}

.advantages__item:hover > svg {
  fill: #ffffff;
  background-color: #00b2ff;
  color: #ffffff;
  path: #ffffff;
}

.advantages__item-header {
  display: inline-block;
  margin: 0;
  margin-top: 55px;
  color: #00b2ff;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 33.75px;
}
.advantages__item-content {
  color: #666666;
  font-family: 'PT Mono', monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.5px;

}

/**
* ===========================================================
* ADVANTAGES tablet
 * ===========================================================
*/
@media (max-width: $tablet-width) {
  .advantages {
    width: $tablet-width;
    padding: 0 25px;
  }

  .advantages__list {
    padding-top: 54px;
  }

  .advantages__item {
    width: 345px;
    min-height: 232px;
    box-sizing: border-box;
    padding: 11px 20px 18px 25px;
  }

  .advantages__item-header {
    margin: 0;
    margin-top: 55px;
    font-size: 24px;
    font-weight: 400;
    line-height: 33.75px;
  }

  .advantages__item-content {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.5px;
    margin: 0;
    margin-top: 11px;
  }

  .advantages__item--deadlines svg{
    width: 30px;
    height: 36px;
      top: 23px;
      left: 25px;
  }

  .advantages__item--suppliers svg {
    width: 32px;
    height: 33px;
    top: 22px;
    left: 24px;
  }

  .advantages__item--privacy svg {
    width: 31px;
    height: 26px;
    top: 27px;
    left: 25px;
  }

  .advantages__item--customization svg {
    width: 33px;
    height: 33px;

    top: 24px;
    left: 25px;
  }


}

/**
 * ===========================================================
* ADVANTAGES mobile
* ===========================================================
*/
@media (max-width: $mobile-width) {
  .advantages {
    width: $mobile-width;
    padding: 0 14px;
  }

  .advantages__list {
    padding-top: 34px;
    flex-direction: column;
  }

  .advantages__item {
    width: 290px;
    min-height: 310px;
    box-sizing: border-box;
    padding: 11px 20px 18px 25px;
  }

  .advantages__item-header {
    margin: 0;
    margin-top: 55px;
    font-size: 20px;
font-weight: 400;
line-height: 28.13px;
  }

  .advantages__item-content {
    margin: 0;
    margin-top: 11px;
  }

  .advantages__item--deadlines svg{
      top: 23px;
      left: 25px;
  }

  .advantages__item--suppliers svg {
    top: 22px;
    left: 24px;
  }

  .advantages__item--privacy svg {
    top: 27px;
    left: 25px;
  }

  .advantages__item--customization svg {
    top: 24px;
    left: 25px;
  }
}
