/**
* ===========================================================
* FOOTER-BOTTOM desktop
* ===========================================================
*/
.footer-bottom {
  width: 100%;
  display: flex;
  max-height: 55px;
  margin: 16px 0 0px -7px;
  padding: 2px 0 0 7px;
  list-style: none;
  flex-wrap: wrap;
  border-top: 1px solid rgba(98, 105, 98, 0.2);
}

.footer-bottom__tip {
  color: rgba(27, 45, 55, 0.5);
  font-family: 'PT Mono', monospace;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.52px;
  line-height: 24px;
  text-transform: uppercase;

  &--rights {
    margin-right: 74px;
  }

  &--years {
    margin-right: 143px;
  }

  &--wow {
    margin-right: 0;
  }
}

.page-footer__link {
  cursor: pointer;
  display: inline;
  text-decoration: none;
  color: rgba(27, 45, 55, 0.5);
  font-family: 'PT Mono', monospace;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.52px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 12px 404px 7px 0;
  padding: 0;

  &--wow {
    margin: 0;
  }

  &:hover {
    color: #000000;
  }

  &:active {
    color: #c4baba;
  }
}

/**
* ===========================================================
* FOOTER-BOTTOM  tablet
 * ===========================================================
*/
@media (max-width: $tablet-width) {
  .footer-bottom {
    margin: 21px 0 0 0;
    position: relative;
  }

  .footer-bottom__tip {
    &--rights {
      display: none;
    }

    &--years {
      position: absolute;
      top: -364px;
    left: 328px;
    }

    &--wow {
      margin: 19px 0 0 5px;
    }
  }

  .page-footer__link {
    margin: 19px 305px 0 20px;
    padding: 0;

    &--wow {
      margin: 0;
    }
  }
}

/**
 * ===========================================================
* FOOTER-BOTTOM  mobile
* ===========================================================
*/
@media (max-width: $mobile-width) {
  .footer-bottom {
    width: 319px;
    margin: 21px 0 0px 0;
  }

  .footer-bottom__tip {
    &--rights {
      display: none;
    }

    &--years {
      position: absolute;
      top: -364px;
    left: 328px;
    }

    &--wow {
      margin: 19px 0 0 5px;
    }
  }

  .page-footer__link {
    margin: 19px 305px 0 20px;
    padding: 0;

    &--wow {
      margin: 0;
    }
  }
}
