/**
* ===========================================================
* FOOTER-BOTTOM desktop
* ===========================================================
*/
.footer-bottom {
  width: 100%;
  display: flex;
  max-height: 55px;
  margin: 19px 0 0px 29px;
  padding: 2px 0 0 7px;
  list-style: none;
  flex-wrap: wrap;
  border-top: 1px solid rgba(98, 105, 98, 0.2);
}

.footer-bottom__tip{
  color: rgba(27,45,55, 0.5);
  font-family: 'PT Mono', monospace;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.52px;
  line-height: 24px;
  text-transform: uppercase;

  &--rights {
    margin-right: 74px;
  }
  &--years {
    margin-right: 143px;
  }
  &--wow {
    margin-right: 5px;
  }
}

.page-footer__link {
  cursor: pointer;
  display: inline;
  text-decoration: none;
  color: rgba(27,45,55, 0.5);
  font-family: 'PT Mono', monospace;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.52px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 10px 5px 7px 0;
  padding: 0;

  &:hover {
    color:#000000;
  }

  &:active {
    color:#c4baba;
  }
}

/**
* ===========================================================
* FOOTER-BOTTOM  tablet
 * ===========================================================
*/
@media (min-width: $tablet-max-width) {}

/**
 * ===========================================================
* FOOTER-BOTTOM  mobile
* ===========================================================
*/
@media (max-width: $mobile-max-width) {}
