/**
* ===========================================================
* FOOTER-MIDDLE desktop
* ===========================================================
*/

.footer-middle {
  width: 957px;
  padding-left: 164px;
}

.footer-middle a {
  color: rgba(27, 45, 55, 0.5);
  font-family: 'PT Mono', monospace;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  text-decoration: none;

  &:hover {
    color:#000000;
  }

  &:active {
    color:#c4baba;
  }
}

.accordion-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 45px;
  margin: 20px 0 0 7px;
  padding: 0;
  list-style: none;

}

.accordion-menu__item {
  margin-right: -56px;
  padding-bottom: 3px;
  padding-left: 17px;
}

.accordion-menu__item-header {
  cursor: pointer;
  margin-bottom: 26px;
  color: #1b2d37;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.75px;
  line-height: 16px;
  text-transform: uppercase;
}

.accordion-menu__submenuItems {
  height: 100px;
  list-style: none;
  color: rgba(27, 45, 55, 0.5);
  font-family: 'PT Mono', monospace;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  text-decoration: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.accordion-menu__submenuItems-item{
  &--about {
    margin-right: 73px;
  }
  &--products {
    margin-right: 73px;
  }
  &--production {
    margin-right: 73px;
  }
  &--montage {
    margin-right: 73px;
  }

  &--accessories {
    margin-bottom: -24px;
  }

  &--delivery {
    margin-bottom: -21px;
  }

  &--contacts {
    margin-bottom: 25px;
  }
}

/**
* ===========================================================
* FOOTER-MIDDLE  tablet
 * ===========================================================
*/
@media (max-width: $tablet-width) {}

/**
 * ===========================================================
* FOOTER-MIDDLE  mobile
* ===========================================================
*/
@media (max-width: $mobile-width) {
  .accordion-menu {
    width: 100%;
    max-width: 350px;
    margin: 60px auto 20px;
    background: #fff;
  }

  .accordion-menu li.open .accordion-menu__item-header {
    color: #CDDC39;

    .fa-chevron-down {
      transform: rotate(180deg);
    }
  }

  .accordion-menu li:last-child .accordion-menu__item-header {
    border-bottom: 0;
  }

  .accordion-menu__item-header {
    display: block;
    padding: 15px 15px 15px 45px;

    border-bottom: 1px solid #ccc;

    position: relative;
    transition: all 0.4s ease-out;

    i {
      position: absolute;
      top: 17px;
      left: 16px;
    }

    .fa-chevron-down {
      right: 12px;
      left: auto;
    }
  }

  .accordion-menu__submenuItems {
    display: none;
    background: #C8E6C9;

    li {
      border-bottom: 1px solid #B6B6B6;
    }
  }

  .accordion-menu__submenuItems a {
    display: block;
    color: #727272;
    padding: 12px 12px 12px 45px;
    transition: all 0.4s ease-out;

    &:hover {
      background-color: #CDDC39;
      color: #fff;
    }
  }

}
