/**
* ===========================================================
* FOOTER-MIDDLE desktop
* ===========================================================
*/

.footer-middle {
  width: 957px;
  padding-left: 183px;
}

.footer-middle a {
  color: rgba(27, 45, 55, 0.5);
  font-family: 'PT Mono', monospace;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  text-decoration: none;

  &:hover {
    color: #000000;
  }

  &:active {
    color: #c4baba;
  }
}

.accordion-menu {
  width: 990px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 0 7px;
  padding: 0;
  list-style: none;

}

.accordion-menu__item {
  box-sizing: border-box;
  padding-bottom: 3px;
  padding-left: 17px;
}

.accordion-menu__item--office {
  margin: 0;
}

.accordion-menu__item-header {
  cursor: pointer;
  margin-bottom: 26px;
  color: #1b2d37;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.75px;
  line-height: 16px;
  text-transform: uppercase;
}

.accordion-menu__submenuItems {
  height: 100px;
  list-style: none;
  color: rgba(27, 45, 55, 0.5);
  font-family: 'PT Mono', monospace;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  text-decoration: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.accordion-menu__submenuItems-item {
  margin-right: 73px;
}

/**
* ===========================================================
* FOOTER-MIDDLE  tablet
 * ===========================================================
*/
@media (max-width: $tablet-width) {
  .footer-middle {
    width: 721px;
    padding: 0;
  }

  .accordion-menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    margin-top: 5px;
    padding: 0 10px;
    list-style: none;

  }

  .accordion-menu__item--office {
    margin: 0;
    margin-left: 193px;
    padding: 0;
  }

  .accordion-menu__item-header {
    margin-bottom: 25px;
  }

  .accordion-menu__submenuItems {
    min-height: 187px;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .accordion-menu__submenuItems-item {
    margin: 0;
  }
}

/**
 * ===========================================================
* FOOTER-MIDDLE  mobile
* ===========================================================
*/
@media (max-width: $mobile-width) {
  .footer-middle {
    width: 287px;
    padding: 0;
  }

  .accordion-menu {
    width: 100%;
    max-width: 350px;
    margin: 60px auto 20px;
    background: #fff;
    flex-direction: column;
    padding: 0;
  }

  .accordion-menu__item {
    padding: 0;
    margin: 0;
    border-top: 1px solid rgba(98, 105, 98, 0.2);

    &--office {
      margin: 0;
      margin-left: 0;
      padding: 0;
      border-top: none;
    }
  }

  .accordion-menu li.open .accordion-menu__item-header {
    color: #CDDC39;

    .fa-chevron-down {
      transform: rotate(180deg);
    }
  }

  .accordion-menu li:last-child .accordion-menu__item-header {
    border-bottom: 0;
  }

  .accordion-menu__item-header {
    display: block;
    padding: 15px 15px 15px 0;
    margin: 0;
    border-bottom: 1px solid #ccc;

    position: relative;
    transition: all 0.4s ease-out;

    i {
      position: absolute;
      top: 17px;
      left: 16px;
    }

    .fa-chevron-down {
      right: 12px;
      left: auto;
    }
  }

  .accordion-menu__submenuItems {
    display: none;
    background: #C8E6C9;

    li {
      border-bottom: 1px solid #B6B6B6;
    }
  }

  .accordion-menu__submenuItems a {
    display: block;
    color: #727272;
    padding: 12px 12px 12px 45px;
    transition: all 0.4s ease-out;

    &:hover {
      background-color: #CDDC39;
      color: #fff;
    }
  }

}
