/**
  * ===========================================================
  * MAIN NAVIGATION desktop
  * ===========================================================
*/

.main-nav-wrapper {
  box-sizing: border-box;
  min-width: 1490px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 36px;
}

.main-nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  margin: 0;
  padding: 0;

  color: #ffffff;
  font-family: "PT Mono", monospace;
  font-size: 16px;
  font-weight: 400;

  background-repeat: no-repeat;
  background-position: top center;
  background-position: center;
}

.main-nav__list {
  width: 686px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  overflow: hidden;
}

.main-nav__item {
  width: 218px;
box-sizing: border-box;
  &--mail {
    padding: 50px 64px 50px 61px;
  }

  &--phone {
    padding: 50px 0px 50px 44px;
  }

  &--mail::before {
    content: "";
    position: absolute;
    top: 52px;
    right: 644px;
    width: 19px;
    height: 14px;
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
  }

  &--phone::before {
    content: "";
    position: absolute;
    top: 50px;
    right: 420px;
    width: 18px;
    height: 18px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
  }
}

.main-nav__link {
  display: block;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
  position: relative;

  color: #ffffff;

  &[href]:hover {
    background-color: #00b2ff;
  }

  &[href]:active {
    background-color: #00b2ff;
    color: #88b6d1;
  }
}

.btn-contacts {
  margin-top: 38px;
  margin-left: 34px;
  padding: 14px 12px 8px 13px;
  background-color: none;
}

/**
    * ===========================================================
    * MAIN NAVIGATION tablet
    * ===========================================================
*/

@media (max-width: $tablet-width) {
  .main-nav-wrapper {
    min-height: 52px;
    min-width: 720px;
  }


  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }

  .main-nav__item {
    width: 153px;

    &--mail::before {
      top: 37px;
      right: 296px;
      width: 26px;
      height: 19px;
    }

    &--phone::before {
      top: 34px;
      right: 238px;
      width: 25px;
      height: 24px;
    }
  }

  .main-nav__link {
    display: none;
  }
}

  /**
  * ===========================================================
  * MAIN NAVIGATION mobile
  * ===========================================================
*/
  @media (max-width: $mobile-width) {
    .main-nav-wrapper {
      box-sizing: border-box;
      width: 290px;
      margin-right: auto;
      margin-left: auto;
      padding: 0 26px;
    }

    .main-nav {
      margin: 0 auto;
      padding: 0;
    }
  }
