/**
  * ===========================================================
  * MAIN NAVIGATION desktop
  * ===========================================================
*/

.main-nav-wrapper {
  box-sizing: border-box;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 26px;
}

.main-nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 0;
  padding: 0;

  color: #ffffff;
  font-family: "PT Mono", monospace;
  font-size: 16px;
  font-weight: 400;
  background-color:#1b2931;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  overflow: hidden;
}

.main-nav__item {
  width: 218px;
}

.main-nav__link {
  display: block;
  padding: 50px 20px 50px 20px;

  text-align: center;
  text-decoration: none;
  cursor: pointer;
  position: relative;

  color: #ffffff;

  &[href]:hover {
    background-color: #669ec0;
    cursor: pointer;
  }

  &[href]:active {
    background-color: #5496bd;
    color: #88b6d1;
    cursor: pointer;
  }

  &--mail::before {
    content: "";
    position: absolute;
    top: 10px;
    right: 12px;
    width: 15px;
    height: 11px;
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
  }

  &--phone::before {
    content: "";
    position: absolute;
    top: 10px;
    right: 12px;
    width: 17px;
    height: 17px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
  }
}

/**
    * ===========================================================
    * MAIN NAVIGATION tablet
    * ===========================================================
*/

@media (max-width: $tablet-max-width) {
  .main-nav-wrapper {
    box-sizing: border-box;
    width: 720px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 26px;
  }

  .main-nav {
    margin: 0 auto;
  }
}

/**
  * ===========================================================
  * MAIN NAVIGATION mobile
  * ===========================================================
*/
@media (max-width: $mobile-max-width) {
  .main-nav-wrapper {
    box-sizing: border-box;
    width: 290px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 26px;
  }

  .main-nav{
    margin: 0 auto;
    padding: 0;
  }
}
