/**
  * ===========================================================
  * MAIN NAVIGATION desktop
  * ===========================================================
*/

.main-nav-wrapper {
  box-sizing: border-box;
  width: 1490px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 36px;
}

.main-nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  margin: 0;
  padding: 0;

  color: #ffffff;
  font-family: "PT Mono", monospace;
  font-size: 16px;
  font-weight: 400;
  background-color:#1b2931;

  background-image: url("../img/bg1.png"), url("../img/bg2.png"), url("../img/black-ocean.png");

  background-repeat: no-repeat;
  background-position: top center;
  background-position: center;
}

.main-nav__list {
  width: 686px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  overflow: hidden;
}

.main-nav__item {
  width: 218px;
}

.main-nav__link {
  display: block;
padding: 0;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  position: relative;

  color: #ffffff;

  &[href]:hover {
    background-color: #669ec0;
    cursor: pointer;
  }

  &[href]:active {
    background-color: #5496bd;
    color: #88b6d1;
    cursor: pointer;
  }

  &--mail {
    padding: 50px 64px 50px 61px;
  }

  &--phone {
    padding: 50px 0px 50px 44px;
  }

  &--mail::before {
    content: "";
    position: absolute;
    top: 52px;
    right: 180px;
    width: 15px;
    height: 11px;
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
  }

  &--phone::before {
    content: "";
    position: absolute;
    top: 50px;
    right: 190px;
    width: 17px;
    height: 17px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
  }
}

.btn-contacts {
  margin-top: 38px;
  margin-left: 34px;
  padding: 14px 12px 8px 13px;
}

/**
    * ===========================================================
    * MAIN NAVIGATION tablet
    * ===========================================================
*/

@media (max-width: $tablet-max-width) {
  .main-nav-wrapper {
    box-sizing: border-box;
    min-height: 52px;
  }

  .main-nav__link {
    display: none;
  }

  &--mail::before {
    top: 52px;
    right: 180px;
    width: 26px;
    height: 19px;
  }

  &--phone::before {
    top: 50px;
    right: 190px;
    width: 25px;
    height: 24px;
  }
}

/**
  * ===========================================================
  * MAIN NAVIGATION mobile
  * ===========================================================
*/
@media (max-width: $mobile-max-width) {
  .main-nav-wrapper {
    box-sizing: border-box;
    width: 290px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 26px;
  }

  .main-nav{
    margin: 0 auto;
    padding: 0;
  }
}
