/**
* ===========================================================
* PAGE INTRO desktop
* ===========================================================
*/
.page-intro-wrapper {
  padding: 0;
}

.page-intro {
  padding-bottom: 225px;
  position: relative;
  margin: 0 auto;
  width: 1490px;
}

.page-intro::before {
  content: "";
  position: absolute;
  width: 705px;
  height: 515px;
  left: 400px;
  top: 80px;
  background-image: url("../img/dotts-desktop.png");
  background-repeat: no-repeat;
  opacity: 1;

  z-index: inherit;

}

.page-intro__banner {
  position: absolute;
  top: 138px;
  right: -40px;
  width: 705px;
  height: 515px;
}

.page-intro__header {
  margin: 0 0 61px 34px;
  padding-top: 233px;
  color: #ffffff;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 5.6px;
  text-transform: uppercase;
}

.page-intro__header br {
  display: none;
}

.page-intro__tip {
  margin: 0;
  margin-left: 132px;
  margin-bottom: 57px;
  color: #ffffff;
  font-family: 'PT Mono', monospace;
  font-size: 22px;
  font-weight: 400;
  line-height: 36.09px;
  position: relative;
}

.page-intro__tip::before {
  content: "";
  position: absolute;
  top: 17px;
  left: -94px;
  width: 66px;
  height: 2px;
  background-image: url("../img/dash.svg");
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.btn-intro {
  margin-left: 131px;
  padding: 17px 43px 17px 46px;
  border-radius: 5px;
  background-color: #00b2ff;
  color: #ffffff;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  border: none;

  &:hover {
    color: #ffffff;
    background-color: #355161;
  }

  &:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(27, 41, 49, 0.5);
  }
}

.page-intro__scroll {
  transform: rotate(90deg);
  opacity: 0.5;
  color: #ffffff;
  font-family: 'PT Mono', monospace;
  font-size: 14px;
  font-weight: 400;
}

/**
* ===========================================================
* PAGE INTRO tablet
 * ===========================================================
*/
@media (max-width: $tablet-width) {
  .page-intro {
    padding-bottom: 293px;
  }

  .page-intro__banner {
    position: absolute;
    top: 13px;
    right: 516px;
    width: 465px;
    height: 340px;
  }

  .page-intro__header br {
    display: inline;
  }

  .page-intro__header {
    font-style: normal;

    margin: 0 0 3px 88px;
    padding-top: 113px;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 4.2px;
  }



  .page-intro__tip {
    margin: 0;
    width: 356px;
    margin-left: 132px;
    margin-bottom: 57px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.22px;
    position: relative;
  }

  .page-intro__tip br {
    display: none;
  }

  .page-intro__tip::before {
    top: 17px;
    left: -94px;
    width: 33px;
    height: 2px;
  }

  .btn-intro {
    margin-left: 131px;
    padding: 17px 43px 17px 46px;
  }


  .page-intro__scroll {
    /*display: none;*/
  }
}

/**
 * ===========================================================
* PAGE INTRO mobile
* ===========================================================
*/
@media (max-width: $mobile-width) {
  .page-intro {
    padding-bottom: 150px;
  }

  .page-intro__banner {
    position: absolute;
    top: -127px;
    left: 12px;
    width: 301px;
    height: 220px;
  }

  .page-intro__header br {
    display: inline;
  }

  .page-intro__header {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2.8px;
    margin: 0 0 3px 0;
    padding-top: 80px;
  }

  .page-intro__tip {
    margin: 0;
    width: 245px;
    margin: 0 0 57px 65px;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.09px;
    position: relative;
  }

  .page-intro__tip br {
    display: none;
  }

  .page-intro__tip::before {
    top: 17px;
    left: -45px;
    width: 33px;
    height: 2px;
  }

  .btn-intro {
    margin-left: 0;
  }


  .page-intro__scroll {
    /*display: none;*/
  }
}
