/**
  * ===========================================================
  * PAGE HEADER
  * ===========================================================
*/
.page-header {
  margin: 0 auto;
  padding: 0;
  display: flex;
  background-color:#1b2931;
}

.page-header__logo {
  height: 0;
  position: relative;
}

.page-header__img {
  position: absolute;

  top: 0;
  left: 0;

  width: 201px;
  height: 52px;
}
.page-header__title {
  color: #ffffff;
  font-family:  "Roboto Condensed", "Arial", sans-serif;
  font-size: 25px;
  font-weight: 700;
}

.page-header__tip {
  color: #788891;
  font-family:  "Roboto Condensed", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 500;
}

/**
  * ===========================================================
  * PAGE HEADER tablet
  * ===========================================================
*/
@media (max-width: $tablet-max-width) {
  .page-header {
    margin: 0 auto;
  }

  .page-header__img {
    position: absolute;

    top: 0;
    left: 0;
  }
}
/**
  * ===========================================================
  * PAGE HEADER mobile
  * ===========================================================
*/
@media (max-width: $mobile-max-width) {
  .page-header {
    margin: 0 auto;
    padding: 0;
  }

  .page-header__img{
    position: absolute;

    top: 0;
    left: 0;
  }

  .page-header__title {
    display: none;
  }

  .page-header__tip {
    display: none;
  }
}
