/**
  * ===========================================================
  * PAGE HEADER
  * ===========================================================
*/
.page-header {
  padding: 0;
  display: flex;
  background-color: #1b2931;
  background-image: url("../img/bg2.png");

  background-repeat: no-repeat;
  background-position: top center;
  background-position: center;
}

.page-header__logo {
  height: 0;
  position: relative;
  padding-top: 33px;
}

.page-header__img {
  position: absolute;

  top: 33px;
  left: -73px;

  width: 201px;
  height: 52px;
}
.page-header__title {
  color: #ffffff;
  font-family:  "Roboto Condensed", "Arial", sans-serif;
  font-size: 25px;
  font-weight: 700;
  margin: 0;
    margin-left: 70px;
    margin-top: 11px;
}

.page-header__tip {
  color: #788891;
  font-family:  "Roboto Condensed", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 500;
  margin: 0;
    margin-left: 70px;
}

/**
  * ===========================================================
  * PAGE HEADER tablet
  * ===========================================================
*/
@media (max-width: $tablet-width) {
  .page-header {
    width: $tablet-width;

  }
  .page-header__img {
    position: absolute;

    top: 40px;
    left: 0;

    width: 52px;
    height: 52px;

    z-index: 100;
  }
}
/**
  * ===========================================================
  * PAGE HEADER mobile
  * ===========================================================
*/
@media (max-width: $mobile-width) {
  .page-header {
    margin: 0 auto;
    padding: 0;
  }

  .page-header__img{
    position: absolute;

    top: 0;
    left: 0;
  }

  .page-header__title {
    display: none;
  }

  .page-header__tip {
    display: none;
  }
}
