/**
* ===========================================================
* PAGE-FOOTER desktop
* ===========================================================
*/
.page-footer-wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  background-color: #fafafa;
}

.page-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin-bottom: 40px;
  color: #323232;
  padding-top: 46px;
  background-color: #fafafa;
  width: 1412px;
  padding: 64px 255px 0 253px;
  margin: 0 auto;

}

/**
* ===========================================================
* PAGE-FOOTER  tablet
 * ===========================================================
*/
@media (max-width: $tablet-width) {
  .page-footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    margin-bottom: 40px;

    padding: 0;

    width: $tablet-width;
  }
}

/**
 * ===========================================================
* PAGE-FOOTER  mobile
* ===========================================================
*/
@media (max-width: $mobile-width) {
  .page-footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    margin: 0;
    padding: 5px 15px;

    width: 287px;
  }
}
