.page-wrapper {
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

@media (max-width: $tablet-max-width) {
  .page-wrapper {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;

    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  }
}

@media (max-width: $mobile-max-width) {
  .page-wrapper {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;

    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  }
}
