/**
* ===========================================================
* PAGE INTRO desktop
* ===========================================================
*/
.page-intro-wrapper {
  box-sizing: border-box;
  padding: 0;
  background-color:#1b2931;
  background-image: url("../img/bg1.png"), url("../img/bg2.png"), url("../img/black-ocean.png");
background-repeat: repeat;
background-position: top center;
background-position: center;
}

.page-intro {
  width: 1490px;
  padding-bottom: 225px;
  height: 532px;
  position: relative;
  margin: 0 auto;
}

.page-intro__banner {
  position: absolute;
  top: 138px;
    right: -40px;
    width: 705px;
height: 515px;
}

.page-intro__header {
  margin: 0 0 61px 34px;
  padding-top: 233px;
  color: #ffffff;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 80px;
font-weight: 700;
letter-spacing: 5.6px;
text-transform: uppercase;
}

.page-intro__tip {
  margin: 0;
  margin-left: 132px;
  margin-bottom: 57px;
  color: #ffffff;
  font-family: 'PT Mono', monospace;
  font-size: 22px;
  font-weight: 400;
  line-height: 36.09px;
  position: relative;
}

.page-intro__tip::before {
  content: "";
  position: absolute;
  top: 17px;
  left: -94px;
  width: 66px;
height: 2px;
  background-image: url("../img/dash.svg");
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.btn-intro {
  margin-left: 131px;
  padding: 17px 43px 17px 46px;
  border-radius: 5px;
  background-color: #00b2ff;
  color: #ffffff;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-transform: uppercase;

  &:hover {
    color: #ffffff;
    background-color: #1b2931;
  }

  &:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(27,41,49, 0.5);
  }
}

.page-intro__scroll {
  transform: rotate(90deg);
  opacity: 0.5;
  color: #ffffff;
  font-family: 'PT Mono', monospace;
  font-size: 14px;
  font-weight: 400;
}

/**
* ===========================================================
* PAGE INTRO tablet
 * ===========================================================
*/
@media (min-width: $tablet-max-width) {
  .page-intro__scroll {
    /*display: none;*/
  }
}

/**
 * ===========================================================
* PAGE INTRO mobile
* ===========================================================
*/
@media (max-width: $mobile-max-width) {

}
