/**
* ===========================================================
* RECALL-FORM desktop
* ===========================================================
*/
.recall-form-wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  background-color: #00b2ff;
}

.recall-form {
  display: flex;
  flex-direction: column;
  height: 670px;
  margin-bottom: 40px;
  text-align: left;
  color: #323232;
  padding: 25px 20px 0 22px;
  background-color: #00b2ff;
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.recall-form__input-wrap {
  display: flex;
  flex-direction: row;
}

.recall-form input[type="text"],
.recall-form input[type="tel"] {
  box-sizing: border-box;
  position: relative;

  padding: 16px 22px;
  margin-right: 10px;

  width: 50%;
  min-width: 100px;

  color: #ffffff;
  font-family: 'PT Mono', monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.5px;

  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  outline: none;

  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  &:focus {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.recall-form input[type="text"]::placeholder,
.recall-form input[type="tel"]::placeholder {
  color: #ffffff;

  font-size: 16px;
  font-weight: 400;
  line-height: 22.5px;
  opacity: 1;
}

.recall-form input::-moz-placeholder {
  color: #000000;
  opacity: 1;
}

.recall-form textarea::-moz-placeholder {
  color: #000000;
  opacity: 1;
}

.recall-form__message-wrap {
  padding: 0;

  margin: 12px 20px;
  margin-bottom: 42px;
}

.recall-form__message-input {
  box-sizing: border-box;
  padding: 15px 20px;
  margin: 0;

  width: 100%;
  height: 154px;
  min-width: 150px;

  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;

  color: #ffffff;
  font-family: 'PT Mono', monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.5px;

  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  outline: none;
  overflow: auto;

  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  &:focus {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.recall-form__message-input::placeholder {
  color: #ffffff;

  font-size: 16px;
  font-weight: 400;
  line-height: 22.5px;
  opacity: 1;
}

.recall-form img {
  position: absolute;
  top: 100px;
  left: 0;
  width: 665px;
  height: 487px;
}

.recall-form__form {
  margin-left: 600px;
}

.recall-form__header {
  color: #ffffff;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 50.63px;
}

.recall-form__tip {
  color: #ffffff;
  font-family: 'PT Mono', monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.5px;
}

.checkbox-area {
  opacity: 0.8;
  color: #ffffff;
  font-family: 'PT Mono', monospace;
  font-size: 14px;
  font-weight: 400;

}

.recall-form__checkbox-message {
  display: inline-block;
  position: relative;
  float: right;

  margin: 18px 0;
  margin-bottom: 21px;
  padding-right: 10px;

  width: 230px;

  text-align: right;
}

.recall-form__checkbox-message {
  display: block;

  padding: 14px 0;
  padding-left: 80px;
}

.recall-form__checkbox-input+label::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 16px;
  height: 16px;
  border: 1px solid #ffffff;
  background-color: #00b2ff;
}

.recall-form__checkbox-input:checked+label::after {
  content: url("../img/icon-tic.svg");

  position: absolute;
  top: 16px;
  left: 17px;

  width: 9px;
  height: 6px;
  fill: #fff;
}

.recall-form input[type="checkbox"] {
  cursor: pointer;

  line-height: 26px;

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    background-color: #e5e5e5;
    border: 0.5px dashed #81b3d2;
  }

  &:active {
    background-color: #d5d5d5;
  }
}

.recall-form__btn {
  color: #ffffff;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  background-color: #00b2ff;
  border-radius: 5px;
  border: 1px solid #ffffff;
}

/**
* ===========================================================
* RECALL-FORM tablet
 * ===========================================================
*/
@media (min-width: $tablet-max-width) {}

/**
 * ===========================================================
* RECALL-FORM mobile
* ===========================================================
*/
@media (max-width: $mobile-max-width) {}
