/**
* ===========================================================
* SERVICES desktop
* ===========================================================
*/
.services-wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  background-color: #1b2d37;
}

.services {
  color: #323232;
  background-color: #1b2d37;
  width: 1170px;
  padding: 39px 375px 127px 375px;
  margin: 0 auto;
}

.services-header {
  margin: 0;
  margin-top: 51px;
  margin-bottom: 30px;
  color: #ffffff;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 50.63px;
}

.services__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;
}

.services__item {
  box-sizing: border-box;
  width: 370px;
  min-height: 620px;
  margin-left: 30px;

  list-style: none;

  color: #fff;
  background-color: #1b2d37;

  position: relative;

  &:hover {
    filter: opacity(50%);
  }

  &:active {
    filter: opacity(70%);
  }

  &--production::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../img/production-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    filter: opacity(30%);

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/production-desktop@2x.png");
    }
  }

  &--montage::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../img/montage-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    filter: opacity(30%);

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/montage-desktop@2x.png");
    }
  }

  &--accessories::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../img/accessories-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    filter: opacity(30%);

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/accessories-desktop@2x.png");
    }
  }
}

.services__item:first-child {
  margin-left: 0;
}

.services__item__link {
  display: inline-block;

  &:focus {
    border: 0.5px dashed #81b3d2;
  }
}

.services__item {
  & img {
    display: block;
  }
}

.services__item-info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 0;
}

.services__item-header {
  margin: 0;
  margin-top: 34px;
  margin-left: 42px;
  color: #ffffff;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.services__item-header br {
  display: inline;
}

.btn-services {
  font-size: 0;
  line-height: 0;
  color: transparent;
  position: absolute;
  top: 535px;
  left: 307px;

  display: inline-block;
  margin: 0;
  padding: 0;
  width: 63px;
  height: 63px;
  background-color: #00b2ff;
  border: none;
  border-radius: 0;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }

  &:active .btn-services-icon {
    fill: #88b6d1;
  }

}

.btn-services-icon {
  position: absolute;
  top: 27px;
  left: 31px;
  transform: rotate(180deg);

  fill: #ffffff;
}

/**
* ===========================================================
* SERVICES tablet
 * ===========================================================
*/
@media (max-width: $tablet-width) {
  .services {
    padding: 1px 24px 0 25px;
    width: $tablet-width;
    margin: 0 auto;
  }

  .services-header {
    margin: 49px 0 28px 0;
    width: 613px;
    font-size: 32px;
    font-weight: 400;
    line-height: 45px;
  }

  .services__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0;
    padding: 21px 0 32px;
  }

  .services__item {
    box-sizing: border-box;
    width: 720px;
    min-height: 256px;
    margin-left: 0;
    margin-bottom: 46px;

    list-style: none;

    position: relative;

    background: #1B2D37;

    &--production::before {
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      background-image: url("../img/production-tablet@1x.png");
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover;

      @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
        background-image: url("../img/production-tablet@2x.png");
      }
    }

    &--montage::before {
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      background-image: url("../img/montage-tablet@1x.png");
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover;

      @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
        background-image: url("../img/montage-tablet@2x.png");
      }
    }

    &--accessories::before {
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      background-image: url("../img/accessories-tablet@1x.png");
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover;

      @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
        background-image: url("../img/accessories-tablet@2x.png");
      }
    }
  }

  .services__item-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0;
  }

  .services__item-header {
    margin: 20px 0 0 44px;
  }

  .services__item-header br {
    display: inline;
  }

  .btn-services {
    top: 172px;
    left: 657px;
  }
}

/**
 * ===========================================================
* SERVICES mobile
* ===========================================================
*/
@media (max-width: $mobile-width) {
  .services {
    padding: 1px 15px 0 15px;
    width: $mobile-width;
    margin: 0 auto;
  }

  .services-header {
    width: 280px;
    margin: 49px 10px 21px;
    font-size: 28px;
    font-weight: 400;
    line-height: 39.38px;
  }

  .services__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0;
    padding: 21px 0 32px;
  }

  .services__item {
    box-sizing: border-box;
    width: 290px;
    margin-left: 0;
    margin-bottom: 30px;

    position: relative;

    background: #1B2D37;

    &--production::before {
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      background-image: url("../img/production-mobile@1x.png");
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover;

      @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
        background-image: url("../img/production-mobile@2x.png");
      }
    }

    &--montage::before {
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      background-image: url("../img/montage-mobile@1x.png");
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover;

      @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
        background-image: url("../img/montage-mobile@2x.png");
      }
    }

    &--accessories::before {
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      background-image: url("../img/accessories-mobile@1x.png");
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover;

      @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
        background-image: url("../img/accessories-mobile@2x.png");
      }
    }
  }

  .services__item-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0;
  }

  .services__item-header {
    margin: 0 0 0 35px;
  }

  .services__item-header br {
    display: inline;
  }

  .btn-services {
    top: 172px;
    left: 227px;
  }
}
