/**
* ===========================================================
* SERVICES desktop
* ===========================================================
*/
.services-wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  background-color: #1b2d37;
}

.services {
  margin-bottom: 40px;
  color: #323232;
  padding: 39px 20px 0 22px;
  background-color: #1b2d37;
  width: 1170px;
  margin: 0 auto;
}

.services-header {
  margin: 0;
  margin-top: 51px;
  margin-bottom: 30px;
  color: #ffffff;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 50.63px;
}

.services__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 21px 0 121px 0;
}

.services__item {
  box-sizing: border-box;
  width: 25%;
  height: 620px;
  margin-left: 30px;

  list-style: none;

  color: #fff;
  background-color: #1b2d37;

  flex-grow: 1;
  position: relative;

  &:hover {
    filter: opacity(50%);
  }

  &:active {
    filter: opacity(70%);
  }

  &--production::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../img/production-desktop@1x.png");
    background-repeat: repeat;
    background-position: top center;
    background-size: cover;
    filter: opacity(30%);

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/production-desktop@2x.png");
    }
  }

  &--montage::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../img/montage-desktop@1x.png");
    background-repeat: repeat;
    background-position: top center;
    background-size: cover;
    filter: opacity(30%);

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/montage-desktop@2x.png");
    }
  }

  &--accessories::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../img/accessories-desktop@1x.png");
    background-repeat: repeat;
    background-position: top center;
    background-size: cover;
    filter: opacity(30%);

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/accessories-desktop@2x.png");
    }
  }
}

.services__item:first-child {
  margin-left: 0;
}

.services__item__link {
  display: inline-block;

  &:focus {
    border: 0.5px dashed #81b3d2;
  }
}

.services__item {
  & img {
    display: block;
  }
}

.services__item-info {
  height: 620px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 0;
  padding-top: 16px;
}

.services__item-header {
  margin: 0;
  margin-top: 34px;
  margin-left: 42px;
  color: #ffffff;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.services__item-info a {
  font-size: 0;
  line-height: 0;
  color: transparent;
}

.btn-services {
  position: relative;

  display: inline-block;

  margin: 0 0 16px 306px;

  padding: 0;
  width: 63px;
  height: 63px;
  background-color: #00b2ff;

  font-size: 0;

  border: none;
  border-radius: 0;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }

  &:active .btn-services-icon {
    fill: #88b6d1;
  }

}

.btn-services-icon {
  position: absolute;
  top: 27px;
  left: 31px;
  transform: rotate(180deg);

  fill: #ffffff;
}

/**
* ===========================================================
* SERVICES tablet
 * ===========================================================
*/
@media (max-width: $tablet-width) {
  .services {
    margin-bottom: 40px;
    padding: 39px 25px 0 25px;
    width: $tablet-width;
    margin: 0 auto;
  }

  .services-header {
    margin: 0;
    margin-top: 51px;
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: 400;
    line-height: 45px;
  }

  .services__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0;
    padding: 21px 0 121px 0;
  }

  .services__item {
    box-sizing: border-box;
    width: 715px;
    height: 256px;
    margin-left: 0;
    margin-bottom: 46px;

    list-style: none;

    position: relative;

    background: #C4C4C4;

    &--production::before {
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      background-image: url("../img/production-tablet@1x.png");
      background-repeat: repeat;
      background-position: top center;
      background-size: cover;
      filter: opacity(30%);

      @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
        background-image: url("../img/production-tablet@2x.png");
      }
    }

    &--montage::before {
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      background-image: url("../img/montage-tablet@1x.png");
      background-repeat: repeat;
      background-position: top center;
      background-size: cover;
      filter: opacity(30%);

      @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
        background-image: url("../img/montage-tablet@2x.png");
      }
    }

    &--accessories::before {
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      background-image: url("../img/accessories-tablet@1x.png");
      background-repeat: repeat;
      background-position: top center;
      background-size: cover;
      filter: opacity(30%);

      @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
        background-image: url("../img/accessories-tablet@2x.png");
      }
    }
  }

  .services__item-info {
    height: 256px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0;
    padding-top: 16px;
  }

  .btn-services {
    position: relative;

    display: inline-block;

    margin: 0 0 16px 306px;

    padding: 0;
    width: 63px;
    height: 63px;
    background-color: #00b2ff;

    font-size: 0;

    border: none;
    border-radius: 0;

    &:hover {
      background-color: #669ec0;
    }

    &:active {
      background-color: #5496bd;
    }

    &:active .btn-services-icon {
      fill: #88b6d1;
    }

  }

  .btn-services-icon {
    position: absolute;
    top: 27px;
    left: 31px;
    transform: rotate(180deg);

    fill: #ffffff;
  }
}

/**
 * ===========================================================
* SERVICES mobile
* ===========================================================
*/
@media (max-width: $mobile-width) {}
