html,
body {
  margin: 0;
  padding: 0;
  width: 1920px;

  font-size: 14px;
  line-height: 21px;
  font-family:  "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  background-color: #ffffff;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}
